/*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    height: 100% !important;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
}

.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}


/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
}


/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
        overflow-x: auto;
    }
}

               
        body {
            font-family: 'Trirong', serif;
            background: #eee;
        }
        
        .p0 {
            padding: 0;
        }
        
        .resCarousel-inner .item {
/*            border: 1px solid #f40909;*/
            /*vertical-align: top;*/
            width: 100%;
            height: 350px;
            text-align: center;
            /*box-shadow: 0 1px 1px rgba(248, 7, 7, 0.1);*/
        }
        
        .resCarousel-inner .item .tile div,
        .banner .item div {
            display: table;
            width: 100%;
            min-height: 100%;
            text-align: center;
           /*box-shadow: 0 1px 1px rgb(248, 7, 7);*/
        }
        
        .resCarousel-inner .item h1 {
            display: table-cell;
            vertical-align: middle;
            color: white;
        }
        
        .banner .item div {
            background: url('demoImg.jpg') center top no-repeat;
            background-size: cover;
            min-height: 550px;
        }
        
        .item .tile div {
            background: url('demoImg.jpg') center center no-repeat;
            background-size: cover;
            height: 200px;
            color: white;
        }
        
        .item div h1 {
            background: rgba(0, 0, 0, .4);
        }
    </style>


/*resCarousel Css End*/